.navbar {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
}

#nav-header {
    color: #FFD700;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.authlink {
    text-decoration: none;
    margin: 0 15px;
    color: #f6e7e7;
    font-weight: bold;
    transition: color 0.3s;
}

.authlink:hover {
    color: #FFC107;
}
